@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-padrao:#201770;
    --cor-padrao-hover:#2356b6;
    --cor-fonte:#fff;
    --cor-fonte-p:#555;
    --cor-btn:#18aa0a;
    --cor-btn-hover:#15ff00;
    --cor-btn-fonte:#000;
    --cor-fonte-corpo:#555;
    --cor-fonte-corpo-leve:#777;
    --cor-estrela:#ffc400;
}

body{
    font-family: 'Poppins', sans-serif;
}

.banner{
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
   
}

.MenuItens-index li a {
    color: var(--cor-fonte);
}



.banner .linha{
    margin-top: 70px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--cor-fonte);
}

#descricao-banner{
    color: var(--cor-fonte);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: solid var(--cor-fonte) 2px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    
}



nav ul li a {
    text-decoration: none;
    color: var(--cor-btn-fonte);
}

.banner p {
    color: var(--cor-fonte);
}

p{
    color: var(--cor-fonte);
}

.linha{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p{
    font-weight: 600;
    color: var(--cor-btn-fonte)
}

.btn{
    text-decoration: none;
    color: var(--cor-fonte);
    background: var(--cor-btn);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover{
    background: var(--cor-btn-hover);
    color: var(--cor-btn-fonte);
}

.categorias{
    margin: 70px 0;
}

.corpo-categorias{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.slider{
    margin-top: 50px;
    width: auto;
    height: 480px;
    overflow: hidden;
    border-radius: 60px;
}

.slides{
    width: 400%;
    height: 480px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
   width: 100%;
   height: 100%;
    object-fit: cover;
}

.navegacao-manual{
    position: absolute;
    width: 1250px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    
}

.manual-btn{
    border: 2px solid var(--cor-fonte);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--cor-padrao);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid var(--cor-padrao);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
   
}

.navigation-auto {
    position: absolute;
    width: 1250px;
    margin-top: 440px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--cor-fonte);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--cor-fonte);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--cor-fonte);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--cor-fonte);
}


.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.3s;
}
.col-4:hover{
 transform: scale(1.1);
}

.col-4 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.titulo{
    position: relative;
    line-height: 60px;
    margin: 50px auto 40px;
    text-align: center;
    color: var(--cor-fonte-corpo);
}

.titulo::after{
    content: '';
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}

h4{
    color: var(--cor-fonte-corpo);
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
    color: var(--cor-btn-fonte);
}

.classificacao{
    color: var(--cor-estrela);
}

/*-----------OFERTAS-----------*/

.ofertas{
    background: radial-gradient(var(--cor-padrao), var(--cor-padrao-hover));
    margin-top: 80px;
    padding: 30px 0;
}

.ofertas h2{
    color: var(--cor-fonte);
    text-align: center;
    font-size: 20pt;
}
.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .social-icons a {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    color: white;
    background-color: #555;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
  }

  .social-icons a:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }

  /* Estilos de cores específicas para cada ícone */
  .instagram {
    background-color: #e4405f; /* Instagram */
  }

  .shopee {
    background-color: #fb2e2f; /* Shopee */
  }

  .whatsapp {
    background-color: #25d366; /* WhatsApp */
  }

  /* Alteração das cores no hover */
  .instagram:hover {
    background-color: #d62d41;
  }

  .shopee:hover {
    background-color: #f4511e;
  }

  .whatsapp:hover {
    background-color: #128c7e;
  }

  .social-icons a i {
    font-size: 36px;
    transition: color 0.3s ease;
  }

  .social-icons a:hover i {
    color: #fff;
  }

.col-2 oferta-img{
    padding: 50px;

}

small{
    color: var(--cor-btn-fonte);
}

/*-----------depoimentos-----------*/

.depoimentos{
    padding-top: 100px;
}

.depoimentos .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.depoimentos .col-3:hover{
    transform: scale(1.1);
}

.depoimentos .col-3 img{
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;

}
.depoimento-icone{
    color: var(--cor-padrao);
}

.col-3 p {
    font-size: 13px;
    color: var(--cor-fonte-corpo-leve);
    margin: 12px 0;
}

.depoimentos .col-3 h3{
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-fonte-corpo-leve);
}


/*-----------marcas-----------*/
.marcas{
    margin: 100px auto;

}

.col-5 {
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0%);
}

/*-----------rodapé-----------*/


.rodape {
    display: flex;  
    justify-content: space-between; 
    background: var(--cor-btn-fonte);
    color: var(--cor-fonte);
    padding: 60px 0 20px;
    font-size: 14px;
}

.rodape p {
    color:var(--cor-fonte)
}

.rodape h3{
    color: var(--cor-fonte);
    margin-top: 20px;
}



 .rodape-col-1, .rodape-col-2, .rodape-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}


.rodape-col-2{
    text-align: center;

}

.rodape-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.rodape-col-3, .rodape-col-1{
    flex-basis: auto;
    
}
.rodape-col-3{
    text-align: right;
}


ul{
    list-style-type: none;
}


.rodape hr{
    border: none;
    height: 1px;
    background: var(--cor-fonte);
    margin: 20px 0;
}
.direitos{
    text-align: center;
}

.menu-celular{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*------------Produtos------------*/

.novoMenu{
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
}

.linha2{
    margin: 100px auto 50px;
    display: flex;
    justify-content: space-between;
}

.linha2 select{
    padding: 5px;
    border: 1px solid var(--cor-padrao) ;

}

.linha2 select:focus{
    outline: none;
}

.paginacao{
    margin: 0 auto 80px;

}

.paginacao span{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid var(--cor-padrao);
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.paginacao span:hover{
    background-color: var(--cor-padrao);
    color: var(--cor-fonte);
}

/*----------Detalhes Produtos-----------*/

.ver-produto{
margin-top: 60px;
}

.ver-produto .col-2 img{
    width: 100%;
    padding: 0;
}

.ver-produto #produtoImg{
    width: 600px;
    height: 450px;
    object-fit: cover;
    object-position: top;

}

.ver-produto .col-2{
    padding: 20px;
}

.ver-produto h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.ver-produto select{
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--cor-padrao); 
}

.ver-produto select:focus{
    outline: none;
}

.ver-produto input{
    width: 50px;
    height: 40px;
    margin-right: 10px;
    padding-left: 10px;
    border: 1px solid var(--cor-padrao); 
    text-align: center;
    font-size: 16px;
}

.ver-produto input:focus{
    outline: none;
}

.ver-produto .btn{
    border: none;
    background-color: var(--cor-padrao);
    height: 42px;
    border-radius: 4px;
    cursor: pointer;
}

.ver-produto .btn:hover{
    background-color: var(--cor-btn-hover);
    
}

.ver-produto p {
    font-size: 13px;
}

.img-linha{
    display: flex;
    justify-content: space-between;

}

.img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*----------Carrinho de compras-----------*/

.carrinho-compras{
    margin: 80px 0;
    margin-left: auto;
    margin-right: auto;
}

.carrinho-compras table{
    width: 100%;
    border-collapse: collapse;
}

.info-carrinho{
    display: flex;
    flex-wrap: wrap;

}

.carrinho-compras th{
    background-color: var(--cor-padrao);
    color: var(--cor-fonte);
    text-align: left;
    font-weight: normal;
    padding: 5px;
}

.carrinho-compras td{
    padding: 10px 5px;
}

.carrinho-compras td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

.carrinho-compras td a {
    color: var(--cor-padrao);
    font-size: 12px;
}

.carrinho-compras td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.valor-total{
    display: flex;
    justify-content: flex-end;
}

.valor-total table{
    border-top: 3px solid var(--cor-padrao);
    width: 100%;
    max-width: 420px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

/*----------Minha conta-----------*/

.minha-conta{
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    padding: 50px 0;}

.formulario{
    position: relative;
    padding: 20px 0;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: auto;
    background-color: var(--cor-fonte);
    box-shadow: 30px 0 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    
    
}

.formulario span{
    display: inline-block;
    width: 100px;
    padding: 0 10px;
    font-weight: bold;
    color: var(--cor-fonte-corpo);
    cursor: pointer;
}

.btn-form{
    display: inline-block;
}

.formulario form{
    position: absolute;
    top: 110px;
    max-width: 300px;
    padding: 0 20px;
    transition: transform 1s;
}

.formulario form input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid var(--cor-padrao);
    border-radius: 3px;
}

.formulario form input:focus{
    outline: none;
}

.formulario form .btn{
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: var(--cor-padrao);
    cursor: pointer;
}

.formulario form .btn:hover{
    background-color: var(--cor-btn-hover);
}

.formulario form a {
    font-size: 12px;
    text-decoration: none;
    color: var(--cor-fonte-corpo);
    cursor: pointer;

}

#EntrarPainel{
    left: -300px;
}

#CadastroSite{
    left: 0px;
}

#Indicador{
    width: 100px;
    height: 3px;
    border: none;
    background-color: var(--cor-padrao);
    margin-top: 8px;
    transform: translate(100px);
    transition: transform 1s;
}

/*----------Sobre nos-----------*/

.logo-sobre-nos{
    width: 400px
    
}


.sobre-nos h2{
    padding: 20px;
    
}
.sobre-nos p{
    color: var(--cor-btn-fonte);
    font-size: 16px;
    padding: 20px;
}

.sobre-nos .linha-sobre-nos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 120px;

    
}

/*----------Contato-----------*/


.form-container {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.form-container h2 {
    margin-bottom: 20px;
    color: var(--cor-fonte-corpo);
    text-align: center;
}
.form-container label {
    display: block;
    margin-bottom: 8px;
    color: var(--cor-fonte-corpo);
}
.form-container input, .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--cor-fonte-p);
    border-radius: 4px;
}
.form-container button {
    width: 100%;
    padding: 10px;
    background: var(--cor-padrao-hover);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-container button:hover {
    background: var(--cor-padrao);
}

.form-container textarea {
    resize: none; /* Impede o redimensionamento */
}


/*----------Menu celular-----------*/

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: var(--cor-btn-fonte);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        color: var(--cor-fonte);
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: var(--cor-fonte);
    }
    .menu-celular{
        display: block;
        cursor: pointer;
    }

    .slider{
    
        height: 280px;    
    }
    
    .slides{    
        height: 280px;
        
    }
    
    .navigation-auto {
        
        margin-top: 240px;
    }
    
    .linha-sobre-nos{
        flex-direction: column;
    }

    footer .linha{
        display: flex;
        flex-direction: column;
         
    }

    .rodape-col-1, .rodape-col-3{
        text-align: center;
    }
 }

@media only screen and (max-width: 600px){

   
    .linha{
        text-align: center;
    }

    

    .col-2 h1{
        font-size: 22px;
        margin: 0;
    }

    #btn-banner{
        font-size: 12px;
    }


    #descricao-banner{
        font-size: 10px;
    }

    .image-menu{
     width: 80%;
    }

    .rodape-col-3, .rodape-col-4{
        text-align: center;
    }

 
   .slider{
        height: 280px;    
    }
    
    .slides{
        
        height: 280px;  
        
    }
    
    .navigation-auto {
        
        margin-top: 240px;
    }

    .col-4 p {
        font-size: 24px;
    }

    .ver-produto .col-2{
        margin: 20px 0;
    }   

    .ver-produto .linha{
        text-align: left;
    }

    .ver-produto h1{
        font-size: 22px;
        line-height: 22px;
    }

    .ver-produto p{
        font-size: 16px;
        
    }

    .info-carrinho p{
        display: none;
    }

    
}

/*MEDIA PARA O CAROUSEL RESPONSIVO.*/

@media only screen and (max-width: 1300px) {
    .navegacao-manual{
        width: 100%;
        
    }

    .navigation-auto {
        
        width: 100%;
    }
    
}

@media only screen and (max-width: 455px) {
    .col-4 {
        min-width: 150px;
   
    }

}